<!DOCTYPE html>
<html lang="en">

<head>
  <script src="js/updateUserInfo.js"></script>
<!--  <script src="js/xpCircle.js"></script>-->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rewards Playing Game</title>
  <!-- plugins:css -->
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/images/favicon.png" />
</head>

<body>
  <div class="body-wrapper">
    <!-- partial -->
    <div class="page-wrapper">
      <div class="update-form">
        <form class="signin-param" id="signin">
          <p style="text-align: left;" name="user">User ID *</p><input id="UserId" type="text" name="user" autocomplete="off" style="text-align: left;" required>
          <br><input id="submit" type="button" onclick="sendRequest(); " value="Update"/>
        </form>
      </div>
      <main class="content-wrapper">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
<!--            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6">-->
<!--              <div>-->

                <!--------------------------------->


<!--                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6">-->
<!--                  <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">-->
<!--                    <div class="mdc&#45;&#45;tile mdc&#45;&#45;tile-danger rounded">-->
<!--                      <i class="mdi mdi-account-settings text-white icon-md"></i>-->
<!--                    </div>-->
<!--                    <div class="text-wrapper pl-1">-->
<!--                      <h3 class="mdc-typography&#45;&#45;display1 font-weight-bold mb-1">7459</h3>-->
<!--                      <p class="font-weight-normal mb-0 mt-0">New projects</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6">-->
<!--                  <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">-->
<!--                    <div class="mdc&#45;&#45;tile mdc&#45;&#45;tile-success rounded">-->
<!--                      <i class="mdi mdi-basket text-white icon-md"></i>-->
<!--                    </div>-->
<!--                    <div class="text-wrapper pl-1">-->
<!--                      <h3 class="mdc-typography&#45;&#45;display1 font-weight-bold mb-1">$7783</h3>-->
<!--                      <p class="font-weight-normal mb-0 mt-0">Total Sales</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6">-->
<!--                  <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">-->
<!--                    <div class="mdc&#45;&#45;tile mdc&#45;&#45;tile-warning rounded">-->
<!--                      <i class="mdi mdi-ticket text-white icon-md"></i>-->
<!--                    </div>-->
<!--                    <div class="text-wrapper pl-1">-->
<!--                      <h3 class="mdc-typography&#45;&#45;display1 font-weight-bold mb-1">569</h3>-->
<!--                      <p class="font-weight-normal mb-0 mt-0">Open Tickets</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6">-->
<!--                  <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">-->
<!--                    <div class="mdc&#45;&#45;tile mdc&#45;&#45;tile-primary rounded">-->
<!--                      <i class="mdi mdi-account-star text-white icon-md"></i>-->
<!--                    </div>-->
<!--                    <div class="text-wrapper pl-1">-->
<!--                      <h3 class="mdc-typography&#45;&#45;display1 font-weight-bold mb-1">5785</h3>-->
<!--                      <p class="font-weight-normal mb-0 mt-0">New Visitors</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->


                <!-------------------->


<!--              </div>-->
<!--            </div>-->

            <!--------------ADDED V------>



            <!--------------ADDED ^--------->

            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <div class="mdc-card d-flex flex-column">
                <div class="mdc-layout-grid__inner flex-grow-1">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex align-item-center flex-column">
                    <h2 class="mdc-card__title mdc-card__title--large-name text-center mt-2 mb-2" id="name"></h2>
                    <div id="currentBalanceCircle" class="w-100">
                      <div id="container"></div>
                    </div>
                  </div>
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                    <div>
                    <div class="points-display-top">
                      <span class="pointsTitle" style="display:none"><b>Tier Level</b></span><br>
                        <span class="pointsEarned" id="tier"></span>
                    </div>
                        <br><br>
                    <div class="points-display">
                      <span class="pointsTitle"style="display:none"><b>Current-Tier Points</b></span><br>
                        <span class="pointsEarned">395/500 Points</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <section class="mdc-card__action-footer mt-4 bg-red w-100">
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-store icon-md"></i>
                      </div>
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-phone-plus icon-md"></i>
                      </div>
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-share-variant icon-md"></i>
                      </div>
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-autorenew icon-md"></i>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
              <div class="mdc-card d-flex flex-column">
                <div class="mdc-layout-grid__inner flex-grow-1">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12 d-flex align-item-center flex-column">
                    <h2 class="mdc-card__title mdc-card__title--large-name text-center mt-2 mb-2" id="circleTitle">Rewards Earned</h2>
                    <div class="rewardItems" id="rewardItem1">
                      <div class="rewardItem-bottom-space">
                        <span class="rewardItem" style="display:none">2x points on Food Purchases</span>
                      </div>
                    </div>
                    <div id="rewardItem2">
                      <div class="rewardItem-bottom-space2">
                       <span class="rewardItem" style="display:none">1.5x points on Mortgage Payments</span>
                      </div>
                    </div>
                  </div>
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-0"></div>
                </div>
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <section class="mdc-card__action-footer mt-4 bg-red w-100">
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-store icon-md"></i>
                      </div>
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-phone-plus icon-md"></i>
                      </div>
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-share-variant icon-md"></i>
                      </div>
                      <div class="col mdc-button" data-mdc-auto-init="MDCRipple">
                        <i class="mdi mdi-autorenew icon-md"></i>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
<!--            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-4">-->
<!--              <div class="mdc-card card&#45;&#45;with-avatar">-->
<!--                <section class="mdc-card__primary">-->
<!--                  <div class="card__avatar"><img src="../static/images/faces/face1.jpg" alt=""></div>-->
<!--                  <h1 class="mdc-card__title">Daniel Russel</h1>-->
<!--                  <h2 class="mdc-card__subtitle">@danielrussel</h2>-->
<!--                  <span class="social__icon-badge mdc-twitter mdi mdi-twitter"></span>-->
<!--                </section>-->
<!--                <section class="mdc-card__supporting-text pt-1">-->
<!--                  <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sem non mauris euismod hendrerit.Aliquam condimentum sem non mauris euismod hendrerit.</p>-->
<!--                  <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>-->
<!--                </section>-->
<!--                <section class="mdc-card__social-footer bg-blue">-->
<!--                  <div class="col">-->
<!--                    <small>TWEETS</small>-->
<!--                    <p>768.8k</p>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <small>FOLLOWING</small>-->
<!--                    <p>186.8k</p>-->
<!--                  </div>-->
<!--                  <div class="col">-->
<!--                    <small>FOLLOWING</small>-->
<!--                    <p>25.8k</p>-->
<!--                  </div>-->
<!--                </section>-->
<!--              </div>-->
<!--            </div>-->
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card table-responsive">
                <div class="table-heading px-2 px-1 border-bottom">
                  <h1 class="mdc-card__title mdc-card__title--large">Transaction Data</h1>
                </div>
                  <p id="demo"></p>
                  <script src="js/table.js"></script>
              </div>
            </div>

<!--            <span id="name" style="display:none"></span>-->
            <span id="pointsBalance" style="display:none"></span>
<!--            <span id="tier" style="display:none"></span>-->
            <span id="pointToNextLevel" style="display:none"></span>
            <span id="table" style="display:none"></span>
            <span id="product0" style="display:none"></span>
            <span id="transactionCatagory0" style="display:none"></span>
            <span id="vendor0" style="display:none"></span>
            <span id="transactionAmount0" style="display:none"></span>
            <span id="pointAmount0" style="display:none"></span>

            <span id="product1" style="display:none"></span>
            <span id="transactionCatagory1" style="display:none"></span>
            <span id="vendor1" style="display:none"></span>
            <span id="transactionAmount1" style="display:none"></span>
            <span id="pointAmount1" style="display:none"></span>

            <span id="product2" style="display:none"></span>
            <span id="transactionCatagory2" style="display:none"></span>
            <span id="vendor2" style="display:none"></span>
            <span id="transactionAmount2" style="display:none"></span>
            <span id="pointAmount2" style="display:none"></span>

            <span id="product3" style="display:none"></span>
            <span id="transactionCatagory3" style="display:none"></span>
            <span id="vendor3" style="display:none"></span>
            <span id="transactionAmount3" style="display:none"></span>
            <span id="pointAmount3" style="display:none"></span>

            <span id="product4" style="display:none"></span>
            <span id="transactionCatagory4" style="display:none"></span>
            <span id="vendor4" style="display:none"></span>
            <span id="transactionAmount4" style="display:none"></span>
            <span id="pointAmount4" style="display:none"></span>


          </div>
        </div>
      </main>
      <!-- partial -->
    </div>
  </div>
  <!-- body wrapper -->
  <!-- plugins:js -->
  <script src="node_modules/material-components-web/dist/material-components-web.min.js"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="node_modules/progressbar.js/dist/progressbar.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
<!--  <script src="../static/js/misc.js"></script>-->
  <script src="js/material.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
<!--  <script src="js/dashboard.js"></script>-->
  <!-- End custom js for this page-->
</body>

</html>